doctype html
html
  head
    title Logster
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" type="image/png" href="/favicon.png")
    script(src='/javascripts/main.js')
  body
    nav.navbar(role="navigation" aria-label="dropdown navigation")
      .navbar-menu
        a.navbar-item(href="/")
          img(src="/favicon.png" style="margin: -5px 7px -5px 0; width: 38px; min-height: 37px; display: block")
          strong Time Logs

        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link Feeds

          .navbar-dropdown.is-boxed
            for feed in feeds
              a.navbar-item(href="/" + feed)= feed


    .section
      block content
